-----BEGIN TENDERMINT PRIVATE KEY-----
kdf: argon2
salt: D3D9A0B5D7AD0FCD22D177D41A06E183
type: secp256k1

EAmJMFD4Uz2BzxrK3u0ZHo1Yd+Ki18IAk05zv0Fa0ki+5lbhgKZ0t2RkGDabyC8Z
ljNW2NM=
=j22B
-----END TENDERMINT PRIVATE KEY-----